{% extends 'home.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>우.드.달</title>
</head>
<body>
    {% block content %}
</br>
    <h1 class="jumbotron-heading">드크리 자랑</h1>
</br>
</br>
    <form method="POST" enctype="multipart/form-data">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-info">남기기</button>
    </form>
    {% endblock %}
</body>
</html>